@import './variables/variables';
@import './responsive/responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;

    @include tablet {
        font-size: 90%;
    }

    @include mobile {
        font-size: 83%;
    }
}
