// font-family
$Cairo: 'Cairo', sans-serif;
$Inria: 'Inria Sans', sans-serif;

// font-size:
$h1Title: 3.052rem;
$h2Title: 2.441rem;
$h3Title: 1.953rem;
$pText: 1rem;

// color
$neutralBlack: #262626;
$AmberYellow: #facc15;
$skyBlue: #7dd3fc;
$lightGray: #F6F6F6;
$whiteColor: #fff;
$borderColor: #d4d4d8;
$slate400: #94a3b8;

// border radius
$BR11: 11px;
$BR24: 24px;
$BR50: 50%;